<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Repositories</h1>
    <%= image_tag current_user.image, class: "img-circle img-thumbnail home-image" %>
    <h2 class="home"> <% @repos.each do |repo| %>
      <%= link_to repo.name, repo.html_url %><br>
      <%= repo.language %>
      <%= repo.updated_at %><br><br>
    <% end %> </h2>
    <h2 class="home">
    <%= link_to "Profile", dashboard_path, class: "btn btn-lg btn-default btn-home" %></h2>
  </div>
  <div class="col-md-2"></div>
</div>
